
a{
  color: white;
}

.navigation{
  width:1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.user{
  width: 500px;
    margin-right: 25%;
}

.user a {
  margin-right: 5%;
}
.connexion{
  width: 200px;
}

#connecter{
  margin-right: 10%;
}

#identity{
  font-size: 1.3em;
}

.icone{
  text-decoration: none;
  font-size: 1.2em;
}

.notif{

  font-size: 15px;
  position: relative;
  padding: 0 4px 0 4px;
  border-radius: 5px;
  bottom: 10px;
  right: 7px;
  background-color: red;
  color: white;

}

