
a{
  color: white;
    white-space: nowrap;

}

.navigation{
  width:1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.user{
    white-space: nowrap;

  width: 500px;
  margin-right: 25%;
}

.user a {
  margin-right: 5%;
}

.user-menu{
  border-right: solid  1px white;
  padding-right: 25px;
  color: white;
}

#welcome{
  text-decoration: none;
  font-size: 1.3em;
}

.connexion{
  width: 200px;
}

#connecter{
  margin-right: 10%;
}

.icone{
  text-decoration: none;
  font-size: 1.2em;
}
.icone:hover{
  color: #816fab;
}

.notif{
  font-size: 15px;
  position: relative;
  padding: 0 4px 0 4px;
  border-radius: 5px;
  bottom: 10px;
  right: 7px;
  background-color: red;
  color: white;
}

