

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CrowdFunding Solidarity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Accueil <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <div class="navigation">

          <div class="user">
            <a *ngIf="currentUser != null" style="color: white" id="identity">Bienvenue <strong>{{currentUser.FirstName}}</strong></a>
            <a *ngIf="currentUser != null && currentUser.Role == 1" routerLink="/admin_space">Espace Admin</a>
            <a *ngIf="currentUser != null && currentUser.Role == 0" routerLink="/user_space">Votre espace personnel</a>
            <a *ngIf="currentUser != null" routerLink="/messagerie" class="icone fas fa-comment-alt" (click)="onRemoveNotif()">
              <span *ngIf="notif > 0" class="notif">{{notif}}</span></a>
          </div>

          <div class="connexion">
            <a id="connecter" *ngIf="currentUser === null" style="color: white" routerLink="/login">Se connecter</a>
            <a id="inscription" *ngIf="currentUser === null" style="color: white" routerLink="/register">S'inscrire</a>
            <a id="deconnection" *ngIf="currentUser != null" style="color: white" routerLink="/home" (click)="onLogout()">Se déconnecter</a>
          </div>

    </div>
  </div>
</nav>

