<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CrowdFunding Solidarity</a>
  <a style="color: white" routerLink="/home">Accueil</a>

  <a style="color: white" routerLink="/historic_transaction">Historique</a>


  <a *ngIf="currentUser === null" style="color: white" routerLink="/login">Se connecter</a>
  <a *ngIf="currentUser === null" style="color: white" routerLink="/register">S'inscrire</a>
  <a *ngIf="currentUser != null" style="color: white" >Bienvenue <strong>{{currentUser.FirstName}}</strong></a>
  <a *ngIf="currentUser != null && currentUser.Role == 1" style="color: white" routerLink="/admin_space">Espace Admin</a>
  <a *ngIf="currentUser != null && currentUser.Role == 0" style="color: white" routerLink="/user_space">Votre espace personnel</a>
  <a *ngIf="currentUser !== null" style="color: white" routerLink="/home" (click)="onLogout()">Se déconnecter</a>
</nav>
