.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project{
  border-radius: 10px;
  margin:  10px 10px 10px 10px;
  width: 400px;
}

a{ //project
  margin-top: 1%;
  padding: 10px 50px 10px 50px;
  box-shadow: 0 0 20px #b8abcb;

}


.description{
  overflow: hidden;
  height: 150px;
}


.progression {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.progress{
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  font-size: 15px;

}

.align_with_progress-bar{
   white-space: nowrap;
  position: relative;
  bottom: 3px;
}

.separation{
  border-top: solid 1px #24315f;
  margin-top: 20px;
  padding-top: 10px;
}


